/*
Rolling Dice online - Layout
*********************************************
08/2019, by leonardoInf
Repository: https://github.com/leonardoInf/rolling-dice
*/


form label{
    padding: 1rem;
    font-size: 1.2rem;
}


button{
    margin-right: 7vw;
}

footer p{
    margin-left: .5rem;
}

.dice {
    font-size: 8vw;
    margin-right: .2rem;
    cursor: default;     /*normal cursor because dice are unselectable */
    user-select: none;   /*Make dice emojis unselectable */
    -moz-user-select: none; /*Firefox needs it´s prefix */
    -ms-user-select: none;  /* Microsoft browsers too */
}
          
.rounded-border {
    border: 5px solid black;
    border-radius: 20px;     /*Rounded edges*/
}

.bordered {
    border: 2px solid black;
}

.subheading {
    color: grey;
    font-size: 4vw;
    margin-top: 5vw;
    margin-bottom: 1.5vw;
}

#settings{
    position: relative;
    width: 50%;
    left: 25%;
    border: 2px solid black;
}
    
#dices {
    margin-top: 0vw;
}    

#main h4{
    position: relative;
    left: 25%;
}
        
#inventory {
    position: relative;
    left: 25%;
    width: 50%;
    height: 11rem;
    border: 2px solid black;
    overflow: auto;
    margin-bottom: 3rem;
}

#mute-button {
    position: relative; /*Apparently this must be set for z-index to work*/
    z-index: 99;        /*raising its z-index to be clickable*/
    margin-top: .5rem;
    margin-left: 1rem;
}

#roll-it{
    margin-left: 7vw
}

#title{
    font-weight: bold;
}


        
        