/*
Rolling Dice online - Layout
*********************************************
08/2019, by leonardoInf
Repository: https://github.com/leonardoInf/rolling-dice
*/

h4 {
    color: grey;
}

.dice {
    font-size: 5.5rem;
}
        
#main {
        padding-top: 2%;
        width: 100%;
        margin-bottom: 2rem;
}
        
#box {
    display: inline-block;
    position: relative;
    width: 50%;
    left: 25%;
    border: 5px solid black;
    border-radius: 20px;     /*Rounded edges*/
    margin-bottom: 1.5rem;
}
        
#controls{
    margin-left: 5rem;
}

#controls span{
    margin-right: 5rem;
    margin-bottom: 2rem;
}

#main h4{
    position: relative;
    left: 25%;
}
        
#table-wrapper {
    position: relative;
    left: 25%;
    width: 50%;
    height: 11rem;
    border: 2px solid black;
    overflow: auto;
}
        
        